<nav class="navbar navbar-expand-md navbar-default fixed-top" style="border-bottom: 1px solid transparent;">
    <div class="container">
        <div class="navbar-header">
            <a
                href=""
                class="nav-link text-dark navbar-brand"
                [routerLink]="['/photos']"
            >
                <i class="fa fa-instagram fa-2x"></i>
                <span style="position: relative; bottom:5px;">Micro Instagram</span>
            </a>
        </div>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
            aria-controls="collapsibleNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="fa fa-toggle-down"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" [routerLink]="['/photos/new']"
                        >Upload Photo</a
                    >
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input
                    type="text"
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search..[Not implemented]"
                    aria-label="Search"
                />
                <button
                    class="btn btn-outline-secondary my-2 my-sm-0"
                    type="submit"
                >
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>
